#formc{
    display: flex;
    justify-content: center;
    align-items: center;
}
#tasklist{
    max-width:600px;
    margin: 0 auto;
}
.list-group-item{
    position: relative;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 15px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: #ffffff;
}
.list-group-item:hover{
    background-color: #e7f5e7;
}
.input-group{
    width: 100%;
}
.completed{
    text-decoration: line-through;
    color: #aaa;
}
#tasklist li span{
    flex-grow: 1;
}